@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}
.main{
    height: 70vh;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: max(100vw, 1400px);
    background-position: center center;
    position: relative;

}
.backlayer{
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.70;
    position: absolute;
    top: 0px;
    
}
.navbar{
    display: flex;
    align-items: center;
    height: 86px;
    max-width: 61vw;
    justify-content: space-between;
    margin: auto;

}
.navbar img{
    opacity: 0.89;
    position: relative;
    z-index: 10;
}
.button{
position: relative;
z-index: 10;
border: none;
color: white;
background-color: #E50914;
border-radius: 3px; 
border: none;

}
.signinbutton{
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    
}
.button:hover{
    background-color: #C11119;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 86px);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    text-align: center;

}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}
.text1{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: normal;
}
.text2 {

    text-align: center;
    font-size: 24px;

  
}
.text3{

    text-align: center;
    font-size: 20px;

}
.input input{
    padding: 12px 80px 16px 10px;
    background-color: black;
    color: white;

    border:1px solid gray ;
    border-radius: 5px;
}
.input input::selection{
    border: 2px solid white;
    border-radius: 8px;
}


.input input::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: lightgrey;
    font-weight: 400;
}

.inputbutton{
        position: relative;
        padding: 6px 15px;
        z-index: 10;
        border: none;
        color: white;
        background-color: red;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 700;
        display: flex;
        align-items: center;
}
.inputbutton svg{
    padding-bottom: 5px;
}

.inputbutton i{
    padding-left: 5px;
}

div.sepration{
    width: 100%;
    height:10px ;
    background-color: #302f2f;
}
.section2{
    width: 100%;
    height: 60vh;
    background-color: black;

}
.contentbox{
    display: flex;
    width: 66vw;

    margin: auto;
    height: 100%;
}
.enjoycontainer{
    width: 50%;
    height: 100%;
    display: flex;
justify-content: center;
    flex-direction: column;
    column-gap: 20px;
}
.enjoycontainer span{
    font-size: 48px;
    font-weight: 900;
    color: white;
}
.enjoycontainer p{
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.enjoyimagecontainer{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv{
    width: 30em;
    position: absolute;
    z-index: 2;
}
.videoinsidetv{
    width: 25em;
    z-index: 1;
        position: absolute;
}
.enjoyimagecontainer img{
    position: absolute;
    z-index: 2;
}
.enjoyimagecontainer video{
z-index: 1;
    position: absolute;
}
.section3 {
    width: 100%;
    height: 60vh;
    background-color: black;
    padding-bottom: 20px;
}

.strangerthings{
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    column-gap: 50px;
    align-items: center;
    height: 72px;
    background-color: black;
    padding: 10px 100px 10px 0px;
    margin-bottom: 30px;
}
.milliecontainer{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    align-items: flex-end;
}

.milliecontainer > img{
width: max(100%,380px);
}
.strangertext{
    color: white;
    display: flex;
    flex-direction: column;
    
}
.leftstranger{
    max-width: 80px;
    height: 100%;
    padding: 20px;
}

.strangerblue{
    color: blue;
}
.enjoycontainer2{
    width: 33%;
}
.enjoyimagecontainer2{
    width: 67%;
}
.enjoycontainer2{
    width: 60%;
    margin: auto;
    height: 60%;
    display: flex;
justify-content: center;
    flex-direction: column;
    column-gap: 20px;
}
.abovefooter{
    background-color: black;
    display: flex;
    align-items: center;

    flex-direction: column;
    padding: 72px 0px;
    row-gap: 20px;
  
}
.abovefooter h1{
    margin: 0px auto 20px auto;
    font-size: 48px;
    font-weight: 900;
    color: white;
}
.questiongrid{
    height: 100vh;
    width: 75%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}
.question{
    background-color: rgb(45,45,45);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question:hover{
    background-color: #414141;
}


.question p{
    font-weight: 400;
    font-size: 24px;
    color: white;
}
.question i{
    color: white;
}
.readytowatch {
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 45px;
       
   }

   .input input{
    padding: 14px 110px 14px 10px;
    background-color: black;
    color: white;

    border:1px solid gray ;
    border-radius: 5px;
   }
   .footer{

    background-color: black;
    padding: 50px 0px;
   }
   .footergrid{
  
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;

    


   }
   .footeritem{
    display: flex;
    align-items: center;
   }
   .footeritem ul li{
    padding: 10px 0px ;
    color: rgba(255, 255, 255, 0.7);
   list-style-type: none;
   text-decoration-line: underline;
   text-emphasis-color:  rgba(255, 255, 255, 0.7);
    

   }

select{
    border-radius: 2px;
    background-color: black;
    color: rgba(255, 255, 255, 0.7) ;
   
    font-size: 16px;
    padding: 5px 30px 5px 30px;
}


